body {
    color: darkblue;
}
h3 {
    text-align: center;
}
p {
    color: darkblue;
}
img {
    border: 2px dotted red;
    border-radius: 2px;
    padding: 0;
    width: 600;
    height: 300;
}
iframe {
    width: 350;
    height: 315;
    border: 0;
}