/*======================================
    AUTHOR: Davis, Spencer
    checkoutmy.space
---------------------------------------
    GENERIC STYLES
========================================
html {
    font-family: sans-serif;
    font-size:
}