body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
img {
    width: 100px;
    margin: 5pt;
    border: double 2pt purple;
    border-radius: 1pt;
    float: left;
}
input {
    width: 100px;
    margin: 5pt;
    border: dotted 2pt solid red;
    border-radius: 5pt;
}
video {
    width: 200px;
    margin: 5pt;
    border: double 2pt purple;
    border-radius: 1pt;
}